:root {
    --primary: #355b3e;
    --secondary: #f5dbc4;
    --triority: #029664;
    --quadruple: #95b29b;

    --border-color: #b8d6bf;

    --border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    /* Resetting text decoration */
    text-decoration: none;
    outline: none;

    /* Resetting color */
    color: inherit;
}

button {
    /* Resetting box model properties */
    margin: 0;
    padding: 0;
    border: none;
    background: none;

    /* Resetting font properties */
    font: inherit;
    line-height: normal;

    /* Resetting appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
}

input[type="text"] {
    /* Resetting box model properties */
    margin: 0;
    padding: 0;
    border: none;

    /* Resetting font properties */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    /* Resetting appearance */
    background: none;
    appearance: none;

    /* Resetting other properties */
    outline: none;
    box-shadow: none;
    resize: none;
}

input[type="checkbox"] {
    /* Resetting custom styles */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

input[type="checkbox"]::before {
    /* Resetting custom checkbox icon */
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid var(--primary);
    background-color: white;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="checkbox"]:checked::before {
    /* Resetting custom checked checkbox icon */
    background-color: var(--primary);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 0.75rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Lato", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "image-container"
        "content";
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 5fr 10fr;

    position: relative;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1s;
}

.hidden {
    transform: rotateY(180deg);
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.container .header .image {
    width: 3.5rem;
    height: 1.5rem;
    background-image: url(/image/codivinity-Fw.png);
    background-size: cover;
}

.container .image-container {
    padding: 1rem;
    max-width: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .image-container img {
    object-fit: cover;
    max-width: 100%;
}

.container .content {
    background-color: white;
    color: var(--primary);
    padding: 1rem;
    display: grid;
}

.container .content p:first-of-type {
    font-weight: 700;
}

.container .content p:nth-of-type(2) {
    font-weight: 300;
}

.container .content form {
    display: flex;
    flex-direction: column;
}

.container .content form input:not(input[type="checkbox"]) {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--primary);
}

.container .content form input::placeholder {
    color: var(--primary);
    font-weight: 300;
}

.container .content form .remember-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.container .content form .remember-container .remember-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content form .remember-container .remember-checkbox input {
    margin-right: 0.5rem;
}

.container .content form .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.container .content form .button-container .button {
    width: 50%;
    color: var(--triority);
    background-color: white;
    font-weight: 700;
    border-radius: var(--border-radius);
    padding: 1rem;
    border: 1px solid var(--triority);
}

.container .content form .button-container .button[type="submit"] {
    background-color: var(--triority);
    color: white;
    margin: 0.5rem;
}

.container .content .login-shortcut span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .login-shortcut div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

@media (min-width: 640px) {
    .container {
        margin: 1rem;
        box-shadow: 0px 72px 80px -48px #223a28;
        grid-template-areas:
            "header image-container"
            "content image-container";
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 9fr;
    }

    .container .header {
        border-radius: 1rem 0 0 0;
        background-color: white;
        color: var(--primary);
        padding: 1rem 3rem;
        justify-content: flex-start;
    }

    .container .header .image {
        background-image: url(/image/codivinity.png);
    }

    .container .image-container {
        border-radius: 0 1rem 1rem 0;
        padding: 1rem;
        height: 100%;
        background-color: var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row: 1 / 3;
    }

    .container .content {
        border-radius: 0 0 0 1rem;
        padding: 1rem 3rem;
    }

    .container .content form .button-container .button {
        padding: 0.75rem;
    }
}

@media (min-width: 1024px) {
    .container .content .login-shortcut {
        display: flex;
        gap: 1rem;
    }
}
